<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		
		 <!-- Database connection settings -->
	  	<property name="proxool.pool_alias">DBPool</property>
		<property name="proxool.xml">proxool.xml</property>
		<property name="connection.provider_class">
			org.hibernate.connection.ProxoolConnectionProvider
		</property>
       	
		 <!-- Echo all executed SQL to stdout -->
	  
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
	
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		
		  <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
		 
		 
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		

		<mapping class="jiudian.model.User"/>
		
		<mapping class="jiudian.model.Fenlei"/>
	
		<mapping class="jiudian.model.Kefang"/>
		
		<mapping class="jiudian.model.Kaifang"/>
		
		<mapping class="jiudian.model.Yuding"/>
		
	</session-factory>
</hibernate-configuration>